{% extends 'static_base.html' %}

{% block 'content' %}
<div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="card bg-light text-dark shadow-lg">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Nuestra Historia</h2>
            <p class="card-text">OnlyFlans es una empresa familiar fundada en el año 2021 en Santiago de Chile, con la visión de ofrecer productos de alta calidad en el mundo de la pastelería y los postres. Nos especializamos en la elaboración y venta de flanes, una tradición que hemos perfeccionado a lo largo de los años.</p>
            <p class="card-text">Nuestra ubicación estratégica en Providencia, a pasos del metro Parque Bustamante, nos permite atender a nuestros clientes con comodidad y facilidad de acceso.</p>
            <p class="card-text">Desde nuestros inicios, nos hemos comprometido a ofrecer productos de calidad excepcional, utilizando solo los mejores ingredientes y técnicas de preparación tradicionales. Esta dedicación se refleja en cada bocado de nuestros deliciosos flanes, que han ganado la fidelidad de nuestros clientes.</p>
            <p class="card-text">Además de nuestros productos disponibles para el público en general, también ofrecemos una selección exclusiva de flanes especiales reservados para nuestros clientes registrados, como una forma de agradecer su apoyo y fomentar una relación cercana con ellos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
 
{% endblock %}