{% extends 'static_base.html' %}
{% load static %}
{% block 'content' %}
<div class="container">
  <div class="row">
    <!-- Primera fila de cards -->
    {% for flan in flanes_pub %}
    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="{{ flan.image_url }}" class="card-img-top" alt="Imagen 1">
        <div class="card-body">
          <h5 class="card-title">{{ flan.name }}</h5>
          <p class="card-text">{{ flan.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}